#tareaEscrita {
    width: 50%;
    height: 75px;
    margin: 0px 10px 20px 0px;
    border-radius: 7px;
}

#fechaElegir {
    padding: 15px;
    width: 12%;
    font-size: 14px;
    border-radius: 7px;
}

#horaElegir {
    padding: 15px;
    margin: 0px 10px;
    width: 10%;
    font-size: 14px;
    text-align: center;
    border-radius: 7px;
}

.task-completa td {
    text-decoration: line-through;
    text-decoration-color: black;
    text-decoration-thickness: 2px;

}


tr {
    border-bottom: 3px solid rgb(39, 39, 39);
}